{% extends 'base.html.twig' %}

{% block title %}Euromag{% endblock %}

{% block head_css %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/home') }}
{% endblock %}

{% block body %}

    <div class="form-container mt-auto">
        <form class="form" action="{{ path('ubicazioni_index', {page : 1}) }}">
            <input class="form-control form-control-lg" id="formInputCerca" type="search" name="search"
                   autocomplete="off" placeholder="codice..." aria-label="Cerca">

            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Trova
            </button>
        </form>

        <a class="btn btn-success btn-lg btn-block mt-4" href="{{ path('ubicazioni_free') }}">
            Ubicazioni LIBERE
        </a>
    </div>

{% endblock %}
