body {
    background: url(../images/plant-2639751_1280_dark.jpg) no-repeat center fixed;
    background-size: cover;
    color: white;
}

.card {
    width: 12rem;
    min-height: 9rem;
    color: black;
}

/*.card {*/
    /*border-radius: 1rem;*/
    /*margin: 0 0.3rem 0.3rem 0;*/
/*}*/

/*.card-body{*/
    /*padding: 0.5rem;*/
    /*border-radius: inherit;*/
/*}*/