body {
    background: url(../images/industrial-hall-1630740_1280_dark.jpg) no-repeat center fixed;
    background-size: cover;
    color: white;
}

#rigaAddBtn {
    /*font-size: 2em;*/
    /*color: darkgreen;*/
}

#rigaRemoveBtn {
    /*font-size: 2em;*/
    /*color: darkred;*/
}
