<div class="card {% if u.articolo is empty %}free{% else %}full{% endif %} m-2">
    <div class="card-body p-2">
        <div class="card-title">
            <a class="btn btn-outline-light" href="{{ path('ubicazioni_update', {id: u.id}) }}">
                <h3>{{ u.codice }}</h3>
                <p>{{ u.articolo }}{% if u.articolo is empty %}libera{% endif %}</p>
            </a>
        </div>
    </div>
</div>
