<style type="text/css">
    body {
        font-family: sans-serif;
        font-size: 11pt;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    .newpage{
        page-break-before: always;
    }

    th, td{
        border-bottom: 1px solid gray;
        text-align: left;
    }

    tr:nth-child(even){
        background-color: #e1f1ff;
    }

</style>

{% set count = 0 %}
{% set restart = 0 %}
{% set lastFila = 1 %}
<h1>Ubicazioni Fila 1</h1>
<table>
    <tbody>
    {% set col = 4 %}

    {% for u in ubicazioni%}
        {% if (loop.index+restart) % col == 1 %}<tr>{% endif %}
        {% if lastFila != u.fila %}</tr></tbody></table>
        <h1 class="newpage">Ubicazioni Fila {{ u.fila }} {% set restart = col - (loop.index % col) +1 %}</h1>
        <table><tbody><tr> {% endif %}
            <td><h3>{{ u.codice }}</h3></td>
            <td><p>{{ u.articolo }}</p></td>
        {% if (loop.index+restart) % col == 0 %}</tr>{% endif %}

        {% set count = count + 1 %}
        {% set lastFila = u.fila %}
    {% else %}
        <tr>Nessuna ubicazione trovata.</tr>
    {% endfor %}
    </tbody>
</table>
